:root{
    --bo-primary_dark: #2C3E50;
    --bo-second-bck: #1ABC9C;
    --bo-bck-footer_top: #3A546D;
}

.container_small{
    width: 50%;
    margin: 0 auto;
}

/*#region header*/
.header_top{
    background-color: var(--bo-primary_dark);
}

.jumbo{
    background-color: var(--bo-second-bck);
}
.avatar img{
    height: 255px;
}
.text_line hr{
    width: 15%;
}
/*#endregion header*/

/*#region main*/
.portfolio,
.portfolio .fa-solid{
    color: var(--bo-primary_dark);
}
.portfolio .text_line hr{
    border-color: var(--bo-primary_dark);
}
/* portfolio */

.about{
    background-color: var(--bo-second-bck);
}
/* about */

.contact,
.contact .fa-solid{
    color: var(--bo-primary_dark);
}
.contact_form{
    border-radius: 0%;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}
#floatingTextarea2{
    height: 195px;
}
.contact button{
    background-color: var(--bo-second-bck);
}
/*#endregion main*/

/*#region footer*/
.footer_top{
    background-color: var(--bo-bck-footer_top);
}
.icon{
    width: 52px;
    height: 52px;
    padding: 8px;
    margin: 0 6px;
}
.icon .fa-brands{
    vertical-align: bottom;
}
.footer_top a{
    text-decoration: none;
    color: var(--bo-second-bck);
}
.footer_bottom{
    background-color: var(--bo-primary_dark);
}
.footer_bottom p{
    font-size: smaller;
    padding-top: 16px;
}
/*#endregion footer*/

