:root{
    --bo-primary_dark: #2C3E50;
    --bo-second-bck: #1ABC9C;
    --bo-bck-footer_top: #3A546D;
}

/*#region header*/
.header_top{
    background-color: var(--bo-primary_dark);
}

.jumbo{
    background-color: var(--bo-second-bck);
}
.avatar img{
    height: 255px;
}
.text_line hr{
    width: 15%;
}
/*#endregion header*/

/*#region main*/
.portfolio,
.portfolio .fa-solid{
    color: var(--bo-primary_dark);
}
.portfolio .text_line hr{
    border-color: var(--bo-primary_dark);
}

.about{
    height: 708px;
    background-color: var(--bo-second-bck);
}
.contact{
    height: 596px;
}
/*#endregion main*/

.footer_top{
    height: 454px;
    background-color: var(--bo-bck-footer_top);
}
.footer_bottom{
    height: 110px;
    background-color: var(--bo-primary_dark);
}